numpy=1.19.5
nltk=3.5
flask=1.1.2
pathlib=1.0.1
inflect=5.0.2
word2number=1.1
pronouncing=0.2.0
Phyme=0.0.9
Spacy=3.0.1
pyinflect=0.5.1
python-Levenshtein=0.12.2
fuzzywuzzy=0.18.0
num2words=0.5.10